application:
  debug: True
  environment: 'dev'
  logfile: '/tmp/byoda.log'
  # Changing the network if you want to set up your own network and
  # directory server. This setting overrides any configured NETWORK
  # environment variable
  network: 'byoda.net'
  jaeger_host: 127.0.0.1

dirserver:
  name: 'directoryserver'
  # Connection string for the Postgresql server for PowerDNS
  dnsdb: "postgresql://<username>:<password>@<ip>/byodadns"
  root_dir: '/opt/byoda/dirserver'
  roles:
    - directory
  private_key_password: '<changeme>'

svcserver:
  name: 'serviceserver'
  root_dir: '/opt/byoda/service-1'
    roles:
    - service
  service_id: 1
  private_key_password: 'byoda'
