[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvloop = "*"
httptools = "*"
starlette-context = "*"
python-json-logger = "*"
certvalidator = "*"
requests = "*"
psycopg2-binary = "==2.8.6"
fastjsonschema = "*"
dnspython = "*"
SQLAlchemy = "*"
Jinja2 = "*"
passgen = "*"
python-graphql-client = "*"
boto3 = "*"
azure-storage-blob = "*"
azure-identity = "*"
google-cloud-storage = "*"
python-daemon = "*"
gunicorn = "*"
fastapi = "*"
websockets = "*"
cryptography = "*"
htpasswd = "*"
uvicorn = {version = "*", extras = [ "standard",]}
strawberry-graphql = {extras = [ "fastapi",], version = "*"}
redis = "*"
hiredis = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.9"
