[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvloop = "*"
httptools = "*"
starlette-context = "*"
python-json-logger = "*"
certvalidator = "*"
requests = "*"
psycopg2-binary = "==2.8.6"
dnspython = "*"
SQLAlchemy = "*"
Jinja2 = "*"
passgen = "*"
python-graphql-client = "*"
boto3 = "*"
azure-storage-blob = "*"
azure-identity = "*"
google-cloud-storage = "*"
python-daemon = "*"
gunicorn = "*"
fastapi = "*"
websockets = "*"
cryptography = "*"
htpasswd = "*"
uvicorn = {version = "*", extras = [ "standard",]}
strawberry-graphql = {version = "==0.106.3", extras = ["fastapi"]}
redis = "*"
hiredis = "*"
rfc3339-validator = "*"
jsonschema = {extras = ["format"], version = "*"}
pyjwt = "*"
cd = "*"
aiohttp = {extras = ["speedups"], version = "*"}
python-multipart = "*"
orjson = "*"
jinja2-strcase = "*"
tweepy = "*"
async-lru = "*"
oauthlib = "*"
cchardet = "*"
python-dateutil = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.9"
