[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvloop = "*"
httptools = "*"
starlette-context = "*"
python-json-logger = "*"
dnspython = "*"
passgen = "*"
boto3 = "*"
azure-storage-blob = "*"
azure-identity = "*"
google-cloud-storage = "*"
gunicorn = "*"
fastapi = "*"
starlette = "*"
websockets = "*"
uvicorn = {version = "*", extras = [ "standard",]}
pyjwt = "*"
cd = "*"
python-multipart = "*"
python-dateutil = "*"
typing-extensions = "*"
certbot = "*"
aiosqlite = "*"
aioschedule = {git = "https://github.com/ibrb/python-aioschedule"}
pynng = "*"
google-api-python-client = "*"
yt-dlp = "*"
pymerkle = "*"
pyyaml = "*"
pydantic = "==2.5.3"
httpx = {version = "*"}
opentelemetry-api = "*"
opentelemetry-sdk = "*"
opentelemetry-exporter-prometheus = "*"
opentelemetry-instrumentation-sqlite3 = "*"
opentelemetry-instrumentation-httpx = "*"
opentelemetry-instrumentation-fastapi = "*"
prometheus-client = "*"
opentelemetry-exporter-otlp-proto-grpc = "*"
anyio = "*"
redis = {extras = ["hiredis"], version = "*"}
innertube = "*"
prometheus-fastapi-instrumentator = "*"
orjson = "*"
psycopg = {extras = ["binary"], version = "*"}
psycopg-pool = "*"
fastapi-limiter = "*"
profanity-check = "*"
beautifulsoup4 = "*"
jinja2 = "*"
cryptography = "*"
azure-communication-email = "*"
azure-mgmt-communication = "*"
passlib = {extras = ["argon2"], version = "*"}

[dev-packages]
flake8 = "*"
pip = "*"
pipenv = "*"
deprecated = "*"
perflint = "*"
wheel = "*"
setuptools = "*"

[requires]
python_version = "3.12"
