# Web Application framework. Let fastapi set the version requirements for
# modules it depends on
gunicorn
uvloop
httptools

uvicorn[standard]
fastapi==0.70.0
starlette-context==0.3.1

# logging
# https://github.com/madzak/python-json-logger
python-json-logger==2.0.1

# tracing
# https://opentelemetry-python.readthedocs.io/en/latest/
opentelemetry-api==0.17b0
opentelemetry-sdk==0.17b0
opentelemetry-instrumentation==0.17b0

# https://pypi.org/project/opentelemetry-instrumentation-fastapi/
opentelemetry-instrumentation-fastapi==0.17b0

# https://pypi.org/project/opentelemetry-instrumentation-requests/
opentelemetry-instrumentation-requests==0.17b0

# https://github.com/open-telemetry/opentelemetry-python/tree/main/exporter/opentelemetry-exporter-jaeger
opentelemetry-exporter-jaeger==0.17b0

opentelemetry-exporter-prometheus==0.17b0

# https://github.com/trallnag/prometheus-fastapi-instrumentator
prometheus_fastapi_instrumentator==5.7.1

# https://pypi.org/project/certvalidator/
certvalidator==0.11.1

# https://pypi.org/project/cryptography/
cryptography==3.3.1

# https://authlib.org/
# Authlib==0.15.3
josepy==1.2.0
pyrfc3339==1.1

# https://requests.readthedocs.io
requests==2.25.1

sqlalchemy==1.4.15
psycopg2-binary==2.8.6

graphene==2.1.9

# https://horejsek.github.io/python-fastjsonschema/
fastjsonschema==2.15.1

# https://github.com/graphql-python/gql
gql[all]<3

# https://www.dnspython.org/
dnspython==2.1.0

# https://palletsprojects.com/p/jinja/
jinja2==3.0.1

# https://libcloud.readthedocs.io/en/stable/getting_started.html
apache-libcloud==3.3.1

# https://aws.amazon.com/sdk-for-python/
boto3==1.17.42

# https://github.com/thesharp/htpasswd
htpasswd
