# Web Application framework
gunicorn==20.0.4
uvloop==0.15.2
httptools==0.1.1

uvicorn[standard]==0.13.4
fastapi==0.63.0
starlette-context==0.3.1

# logging
# https://github.com/madzak/python-json-logger
python-json-logger==2.0.1

# tracing
# https://opentelemetry-python.readthedocs.io/en/latest/
opentelemetry-api==0.17b0
opentelemetry-sdk==0.17b0
opentelemetry-instrumentation==0.17b0

# https://pypi.org/project/opentelemetry-instrumentation-fastapi/
opentelemetry-instrumentation-fastapi==0.17b0

# https://pypi.org/project/opentelemetry-instrumentation-requests/
opentelemetry-instrumentation-requests==0.17b0

# https://github.com/open-telemetry/opentelemetry-python/tree/main/exporter/opentelemetry-exporter-jaeger
opentelemetry-exporter-jaeger==0.17b0

opentelemetry-exporter-prometheus==0.17b0

# https://github.com/trallnag/prometheus-fastapi-instrumentator
prometheus_fastapi_instrumentator==5.7.1

# https://pypi.org/project/certvalidator/
certvalidator==0.11.1

# https://pypi.org/project/cryptography/
cryptography==3.3.1

# https://authlib.org/
# Authlib==0.15.3
josepy==1.2.0
pyrfc3339==1.1

# https://requests.readthedocs.io
requests==2.25.1

# pip3 install --pre
sqlalchemy==1.4.0b3
psycopg2-binary==2.8.6

# https://www.dnspython.org/
dnspython==2.1.0

# https://palletsprojects.com/p/jinja/
jinja2==2.11.3

# https://libcloud.readthedocs.io/en/stable/getting_started.html
apache-libcloud==3.3.1

# https://aws.amazon.com/sdk-for-python/
boto3==1.17.42
