[Unit]
Description=Byoda.net directory server
Requires=network.target
After=network.target

[Service]
WorkingDirectory=/opt/byoda/byoda-python
EnvironmentFile=/etc/default/svcserver-SERVICE_ID
ExecStart=gunicorn -k uvicorn.workers.UvicornWorker --log-file /var/log/byoda/gunicorn-svcserver-SERVICE_ID.log -c /opt/byoda/byoda-python/gunicorn-svcSERVICE_ID.conf.py  svcserver.main:app
User=www-data
Group=www-data
Restart=always
KillSignal=SIGQUIT
Type=simple
StandardError=syslog

[Install]
WantedBy=multi-user.target
