{% if field_properties['type'] == 'string' %}
{%   set scalar_type = 'String' %}
{% elif field_properties['type'] == 'integer' %}
{%   set scalar_type = 'Int' %}
{% elif field_properties['type'] == 'number' %}
{%   set scalar_type = 'Float' %}
{% elif field_properties['type'] == 'boolean' %}
{%   set scalar_type = 'Bool' %}
{% elif field_properties['type'] == 'number' %}
{%   set scalar_type = 'Float' %}
{% else %}
ERROR: {{ field_properties['type'] }} not a valid type
{% endif %}
{% if field_properties['default'] %}
{{ ' ' * (4 * indent_multiplier) }}{{ field }} = {{ scalar_type }}(default_value=("{{ field_properties['default'] }})")
{% else %}
{{ ' ' * (4 * indent_multiplier) }}{{ field }} = {{ scalar_type }}()
{% endif %}
