{% for field, field_properties in properties.items() %}
{%   if not field.startswith('#')  %}
{%     if field_properties not in ('object', 'array') %}
{%       include 'graphene_schema_scalar.jinja2' %}
{%     elif field_properties == 'object' %}
{{        field_stack.append(field) }}
{%        include 'podserver/files/graphene_schema_object.jinja2' %}
{%      endif %}
{%   endif %}
{% endfor %}
