
{% if field_properties['type'] == 'string' %}
{%   set scalar_type = 'String' %}
{% elif field_properties['type'] == 'integer' %}
{%   set scalar_type = 'Int' %}
{% elif field_properties['type'] == 'number' %}
{%   set scalar_type = 'Float' %}
{% elif field_properties['type'] == 'boolean' %}
{%   set scalar_type = 'Bool' %}
{% elif field_properties['type'] == 'number' %}
{%   set scalar_type = 'Float' %}
{% else %}
ERROR: {{ field_properties['type'] }} not a valid type
{% endif %}
   {{ (field_stack|length - 1) * 4 * ' ' + field }} = {{ scalar_type }}(
{% if field_properties['default'] %}
        {{ (len(field_stack)-1) * 4 * ' ' }}name={{ scalar_type }}(default_value="{{ field_properties['default'] }} ))")
    )
{% endif %}
