server {
{% if subdomain == 'accounts' %}
    listen       443 ssl http2 backlog=16384 fastopen=4096 deferred reuseport default_server;
{% else %}
    listen       443 ssl;
{% endif %}

    server_name  {{ identifier }}.{{ subdomain }}.{{ network }};

    # byoda.util.secrets.Secret.save_tmp_private_key() writes unencrypted private key to /tmp
    ssl_certificate_key {{ key_filepath }};
    ssl_certificate {{ cert_filepath }};

    # http://nginx.org/en/docs/http/ngx_http_ssl_module.html#ssl_verify_client
    ssl_verify_client optional;
{% if subdomain == 'accounts' %}
    ssl_verify_depth 2;
{% else %}
    ssl_verify_depth 4;
{% endif -%}

    # http://nginx.org/en/docs/http/ngx_http_ssl_module.html#ssl_client_certificate
    ssl_client_certificate {{ root_dir }}/network-{{ network }}/network-{{ network }}-root-ca-cert.pem;

    # http://nginx.org/en/docs/http/ngx_http_ssl_module.html#ssl_trusted_certificate
    # ssl_trusted_certificate {{ root_dir }}/network-{{ network }}/network-{{ network }}-root-ca-cert.pem;

{% if subdomain == 'accounts' %}
    location / {
        root   /var/www/wwwroot/;
        add_header X-Frame-Options DENY;
        add_header X-Content-Type-Options nosniff;
        add_header X-XSS-Protection "1; mode=block";

        auth_basic  "Log Area";
        # Location of auth file defined in byoda-python:/podserver/bootstrap/nginxconfig.py
        auth_basic_user_file /etc/nginx/htaccess.db;
    }

    location /api/v1/pod/authtoken {
        proxy_pass http://127.0.0.1:{{ port }};

        proxy_set_header Host $http_host;
        proxy_set_header X-Forwarded-Host $server_name;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_set_header X-Client-SSL-Issuing-CA $ssl_client_i_dn;
        proxy_set_header X-Client-SSL-Subject $ssl_client_s_dn;
        proxy_set_header X-Client-SSL-Verify $ssl_client_verify;
    }

    location /logs/ {
        auth_basic  "Log Area";
        # Location of auth file defined in byoda-python:/podserver/bootstrap/nginxconfig.py
        auth_basic_user_file /etc/nginx/htaccess.db;

        types {
            text/plain    log;
        }
    }

    location /docs {
        set $cors "0";
        satisfy any;
        proxy_pass http://127.0.0.1:{{ port }};
    }

    location /redoc {
        set $cors "0";
        proxy_pass http://127.0.0.1:{{ port }};
    }

    location /openapi.json {
        set $cors "0";
        proxy_pass http://127.0.0.1:{{ port }};
    }

{% endif -%}

    location /api/ {
        proxy_pass http://127.0.0.1:{{ port }};

        proxy_set_header Host $http_host;
        proxy_set_header X-Forwarded-Host $server_name;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_set_header X-Client-SSL-Issuing-CA $ssl_client_i_dn;
        proxy_set_header X-Client-SSL-Subject $ssl_client_s_dn;
        proxy_set_header X-Client-SSL-Verify $ssl_client_verify;
    }

    location /public/ {
        proxy_pass {{ public_cloud_endpoint }}/;
    }
}

{% if subdomain != 'accounts' %}
###
### Virtual server for access by apps to the member
###
server {
    listen       444 ssl;

    server_name  {{ identifier }}.{{ subdomain }}.{{ network }};

    # byoda.util.secrets.Secret.save_tmp_private_key() writes unencrypted private key to /tmp
    ssl_certificate_key {{ key_filepath }};
    ssl_certificate {{ cert_filepath }};

    # http://nginx.org/en/docs/http/ngx_http_ssl_module.html#ssl_verify_client
    ssl_verify_client off;

    location /api/ {
        proxy_pass http://127.0.0.1:{{ port }};

        proxy_set_header Host $http_host;
        proxy_set_header X-Forwarded-Host $server_name;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_set_header X-Client-SSL-Issuing-CA $ssl_client_i_dn;
        proxy_set_header X-Client-SSL-Subject $ssl_client_s_dn;
        proxy_set_header X-Client-SSL-Verify $ssl_client_verify;
    }

    error_page  404              /404.html;

    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}
{% endif %}
